
notebooks/__pycache__/
notebooks/.ipynb_checkpoints/
hots/__pycache__/
hots/.ipynb_checkpoints/
hots/metadata/
dev/metadata/
Records/
dev/.ipynb_checkpoints/
hots.egg-info/*
.ipynb_checkpoints/*
build/
dist/
*.pyc
.ipynb_checkpoints/setup-checkpoint.py
